* {
    margin: 0 auto;
    padding: 0;
}
.header {
    background: #222222;
}
.container {
    max-width: 1600px;
}
.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}
.left {
    display: flex;
    margin-left: 231px;
    padding: 0;
    list-style: none;
}
.right {
    display: flex;
    margin-right: 240px;
    align-items: center;
    list-style: none;
}
.logo {
    margin-right: 41px;
    margin-top: 18px;
}
.search {
    margin-top: 28px;
}
.menu {
    margin-top: 30px;
}
.contacts {
    margin-top: 26px;
    margin-left: 33px;
}
.cart {
    margin-top: 26px;
    margin-left: 33px;
}
.start {
    width: 100%;
    background: #f1e4e6;
}
.container_start {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start_margin {
    margin-bottom: 65px;
}
.start_img {
    margin-left: 0;
    margin-right: 0;
}
.slogan {
    display: flex;
    flex-direction: column;
    height: 92px;
    border-left: 12px solid #f16d7f;
    margin: 290px 99px 381px 0;
}
.slogan__first {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
    padding: 0 0 0 16px;
    color: #222222;
}
.slogan__second {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    margin: 0;
    padding: 0 0 0 16px;
    color: #222222;
}
.menu__list__none {
    width: 232px;
    height: 764px;
    background-color: aliceblue;
    margin-right: -367px;
    margin-left: 135px;
    transform: translateY(422px);
    display: none;
}
.menu__list {
    padding-left: 34px;
}
.img-menu__list {
    padding: 16px 0px 0 169px;
}
.menu__list__heder {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 9px 0 4px 0;
}
.menu__list__column {
    display: flex;
    flex-direction: column;
}
.menu__list__heiding {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding: 20px 0 0px 0;
    margin-left: 0;
}
.menu__list__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    text-decoration: none;
    padding: 12px 0 0 20px;
    margin-left: 0;
}
.menu:hover ~ .menu__list__none {
    display: block;
}
.nav__info {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.top__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav__women {
    background-image: url(image/forwomen.jpg);
    width: 360px;
    height: 260px;
    margin-right: 30px;
    margin-left: 0;
}
.nav__men {
    background-image: url(image/formen.jpg);
    width: 360px;
    height: 260px;
    margin-right: 30px;
}
.nav__kids {
    background-image: url(image/forkids.jpg);
    width: 360px;
    height: 260px;
    margin-right: 0;
}
.nav__accesories {
    background-image: url(image/accesories.jpg);
    width: 100%;
    height: 180px;
    margin-top: 30px;
}
.text__info {
    padding-top: 105px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
.heiding__info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
}
.heiding__card__box {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-top: 96px;
    text-align: center;
    padding-bottom: 6px;
}
.card__box__description {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    padding-bottom: 48px;
}
.card__box {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 19px;
    margin: 0 auto;
}
.section__card {
    max-width: 360px;
    padding-bottom: 30px;
    margin: 0;
}
.section__card:hover {
    transform: scale(1.05);
}
.image__card:hover {
    position: absolute;
}
.image__card-hover {
    display: none;
}
.image__card:hover ~ .image__card-hover {
    position: relative;
    display: block;
}
.heiding__card {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 25px 0 12px 18px;
}
.card__description {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding: 0 0 18px 18px;
}
.card__price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding: 0 0 20px 18px;
}
.a__browse {
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
}
.browse__text {
    width: 211px;
    height: 47px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    border: 1px solid #ff6a6a;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.browse__text:hover {
    color: #ffffff;
    background-color: #f16d7f;
}
.feature {
    background: #222224;
}
.container_feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__info {
    max-width: 360px;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 30px;
    text-align: center;
}
.heading__feature {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #fbfbfb;
}
.text__feature {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #fbfbfb;
}
.subscribe {
    height: 448px;
    background-image: url(image/bgc__subscribe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container_subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__info {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe__image {
    display: block;
    height: 96px;
    width: 96px;
    margin-bottom: 20px;
}
.text__subscribe {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.subscribe__form {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe__forms {
    display: flex;
}
.subscribe__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    margin-bottom: 27px;
    color: #222224;
}
.subscribe__heading_select {
    font-weight: bold;
    text-align: center;
}
.subscribe__email {
    width: 322px;
    height: 48px;
    background: #e1e1e1;
    border-radius: 30px 0 0 30px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.subscribe__submit {
    width: 100px;
    height: 50px;
    background: #f16d7f;
    border-radius: 0 30px 30px 0;
    border: none;
    color: #e1e1e1;
    cursor: pointer;
}
.footer {
    background: #222224;
}
.container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    align-items: center;
}

.footer__text {
    font-family: lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    padding: 30px 0 30px 0;
}
.footer__nav {
    list-style-type: none;
    display: flex;
    padding: 24px 0 23px 0;
}
.footer__padding__right {
    margin-right: 7px;
    width: 32px;
    height: 32px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer__padding__right:hover {
    color: white;
    background-color: #f16d7f;
}
.container_start-height {
    height: 148px;
}
.heiding_start {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.menu_start {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.menu_start-pink {
    color: #f16d7f;
}
.filter__menu {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 51px 648px 64px 246px;
    margin: 0 auto;
}
.filter__left {
    margin: 0 auto;
}
.filter__right {
    display: flex;
    margin: 0 auto;
}
.pagination__center {
    display: flex;
    justify-content: center;
}
.pagination {
    margin: 49px 0 96px 0;
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.pagination a:hover:not(.active) {
    color: red;
}
.form-select {
    border: none;
}
.new__product {
    display: flex;
    background: #f7f7f7;
    margin: 0 auto;
}
.scrol__button {
    margin: 365px 0 0 0;
    width: 47px;
    height: 47px;
}
.product__description {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #eaeaea;
    margin-bottom: 129px;
}
.product__description__top {
    display: flex;
    flex-direction: column;
}
.description__heidihg__text__color {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding: 64px 0 12px 0;
}
.description__heidihg__text__color__border {
    border-bottom: 3px solid #ef5b70;
    width: 63px;
}
.description__heidihg__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    padding: 12px 0 48px 0;
}
.description__text {
    width: 555px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5e5e5e;
    padding-bottom: 32px;
}
.description__text__price {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
    padding-bottom: 64px;
}
.product__description__end__border {
    border: 1px solid #eaeaea;
    width: 641px;
}
.product__description__end {
    display: flex;
    flex-direction: column;
}
.select__description {
    display: flex;
    justify-content: center;
    padding: 65px 0 49px 0;
}
.form-select {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    cursor: pointer;
    padding-left: 22px;
}
.a__add {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
}
.add__text {
    width: 211px;
    height: 47px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    border: 1px solid #ff6a6a;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding-top: 14px;
}
.shopping__cart {
    display: flex;
    justify-content: center;
}
.cart__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
    margin-top: 96px;
}
.card__cart {
    width: 652px;
    height: 306px;
    margin-bottom: 40px;
    display: flex;
    background: #ffffff;
}
.card__cart:hover {
    transform: scale(1.05);
}
.card__cart__img {
    margin: 0;
}
.heading__reset {
    display: flex;
}
.card__cart__info {
    margin: 0;
    padding-left: 31px;
}
.card__cart__heading {
    width: 262px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    padding-top: 22px;
    padding-bottom: 42px;
}
.card__cart_reset {
    padding: 28px 22px 0 57px;
}
.card__cart__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
    margin: 0;
}
.quantity__input {
    display: flex;
}
.quantity__input__text {
    width: 43px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    margin: 0;
    padding-left: 24px;
    display: flex;
    justify-content: center;
}
.links__shopping {
    width: 100%;
    display: flex;
    margin: 0;
    background: #ffffff;
    padding-top: 72px;
}
.clear__shopping {
    display: flex;
    justify-content: center;
    margin-left: 0;
}
.clear__shopping__text {
    width: 235px;
    height: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.continue__shopping {
    display: flex;
    justify-content: center;
    margin-right: 0;
}
.continue__shopping__text {
    width: 235px;
    height: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping__adress {
    margin-top: 113px;
}
.input__adress {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.heading-input__adress {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 0;
    padding-bottom: 21px;
}
.text-input__adress {
    width: 360px;
    height: 45px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 21px;
    padding-left: 16px;
}
.text-input__button {
    width: 100px;
    height: 34px;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    margin-left: 0;
    padding: 0;
}
.order {
    width: 360px;
    height: 214px;
    background: #f5f3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.sub_total {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    padding-top: 39px;
    margin-right: 34px;
}
.grand_total {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-top: 12px;
    padding-bottom: 21px;
    margin-right: 37px;
}
.order_border {
    border-top: 1px solid #e2e2e2;
    width: 275px;
    padding-bottom: 17px;
}
.browse__text_proceed {
    width: 273px;
    height: 50px;
}
.form_registration {
    display: flex;
    justify-content: center;
    padding-top: 64px;
}
.input_form_registration {
    display: flex;
    flex-direction: column;
    margin-left: 231px;
}
.flex_registration {
    display: flex;
    flex-direction: column;
}
.heading_registration {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-left: 0;
}
.text_input_form_registration {
    margin-top: 21px;
}
.form_radio {
    display: flex;
    margin: 10px 0 31px 0;
}
.radio_male {
    margin: 0 10px 0 0;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
}
.radio_female {
    margin: 0 10px 0 20px;
}
.password_rules {
    width: 380px;
}
.a__browse_input_form_registration {
    margin-left: 0;
    margin-top: 39px;
}
.loyalty_box {
    width: 652px;
    margin-right: 230px;
}
.heading_loyalty_box {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 22px;
}
.text_loyalty_box {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 17px;
}
@media (max-width: 1207px) {
    .container {
        max-width: 1207px;
    }
    .left {
        margin-left: 32px;
    }
    .right {
        margin-right: 41px;
    }
    .container_start {
        height: 368px;
        justify-content: space-around;
    }
    .slogan {
        margin-right: 0;
    }
    .start_img {
        width: 386px;
    }
    .start_img__media {
        width: 386px;
        height: 368px;
    }
    .start_margin {
        margin-bottom: 20px;
    }
    .nav__info {
        margin: 0 16px 0 16px;
    }
    .card__box {
        justify-content: space-evenly;
    }
    .subscribe {
        display: flex;
    }
}
@media (max-width: 768px) {
    .container_feature {
        flex-direction: column;
        padding-bottom: 64px;
    }
    .nav__women {
        width: 232px;
        height: 167px;
    }
    .nav__men {
        width: 232px;
        height: 167px;
    }
    .nav__kids {
        width: 232px;
        height: 167px;
    }
    .text__info {
        padding-top: 57px;
    }
    .feature__info {
        padding: 48px 0 0 0;
    }

    .container_subscribe {
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
    }
    .contacts {
        display: none;
    }
    .cart {
        display: none;
    }
    .start_img {
        display: none;
    }
    .slogan {
        margin: 0;
    }
    .top__info {
        flex-direction: column;
    }
    .nav__women {
        width: 393px;
        margin-bottom: 32px;
    }
    .nav__men {
        width: 393px;
        margin-bottom: 32px;
    }
    .nav__kids {
        width: 393px;
        margin-bottom: 32px;
    }
    .nav__accesories {
        margin-top: 0;
    }
    .heiding__card__box {
        padding-top: 0;
    }
    .subscribe__info {
        width: 343px;
    }
    .text__subscribe {
        font-size: 18px;
        line-height: 22px;
    }
    .subscribe__form {
        max-width: 425px;
    }
    .subscribe__forms {
        display: flex;
    }
    .subscribe__heading {
        line-height: 153.2%;
    }
    .subscribe__email {
        width: 245px;
        height: 46px;
        padding-left: 0;
        padding-right: 0;
    }
    .subscribe__submit {
        width: 95px;
        height: 46px;
    }
    .container_footer {
        flex-flow: column-reverse;
    }
}

